{% extends 'navprayas/base.html' %}
{% load crispy_forms_tags %}
{% block title%}
    video player
{% endblock %}



{% block content%}
<br>
<br>
<br>
<section class="section-gap achivement-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="achivement-content">
                   
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>
                        {{ form | crispy }}
                        <button type="submit">Upload</button>
                      </form>

                </div>
            </div>

        </div>
    </div>
</section>



{% endblock %}




