{% extends 'navprayas/base.html' %}
{% block title%}
    video player
{% endblock %}

{% block content%}
<section class="section-gap achivement-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="achivement-content">
                   
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br> <b>Select video </b> : 
                        {{ form.as_p }}
                        <button type="submit">Upload</button>
                      </form>

                </div>
            </div>

        </div>
    </div>
</section>



{% endblock %}




