{% extends 'navprayas/base.html' %}
{% block title%}
    video player
{% endblock %}

{% block content%}
<br><br><br>
<br><br><br>
<section class="section-gap achivement-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="achivement-content">
                    <div class="col-lg-7">

                        <video id = "vp" class="video-js vjs-big-play-centered "   data-setup='{}'>
                            <source src="{{video.document.url}}" type="video/mp4">
                        </video>
                        <h3>
                          <b>{{video.title}}</b>
                        </h3>  
                    </div>
                   

                </div>

            </div>

        </div>
    </div>
</section>



{% endblock %}

{% block player%}
<script>
   

    var player = videojs("vp",{
        
    autoplay : false,
    controls : true,
    loop : false,
    playbackRates : [0.5, 1, 1.5, 2], 
    userActions : {
        hotkeys : true
    },
    fluid : true,
    
    
    
    
    
});
</script>
{% endblock %}