{% extends 'navprayas/base.html' %}

{% block title%}
    video player
{% endblock %}

{% block content%}
<section class="video-area">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="video-content">
                    <video id = "vp" class="video-js vjs-default-skin vjs-big-play-centered" width="640" height="360"  data-setup="{}">
                        <source src="{{video.document.url}}"  type="video/mp4">
                    </video>
                <!-- <a href="https://www.youtube.com/watch?v=6BYIKEH0RCQ?rel=o" class="play-btn"><img src="img/play-btn.png" alt=""></a> -->
                <!-- <h3 class="h2 text-white">Everyone wants to be unique</h3> -->
            </div>
        </div>
    </section>

{% endblock %}

{% block player%}
<script>
   

    var player = videojs("vp",{
        
    autoplay : false,
    controls : true,
    loop : false,
    playbackRates : [0.5, 1, 1.5, 2], 
    userActions : {
        hotkeys : true
    },
    fluid : true, 
});
</script>
{% endblock %}